.titulinis {
	background: orange;
	color: black;
	padding: 50px;
}
.lang {
	border: 1px solid orange;
	font-size:  40px;
	background-color: white;
	padding: 20px;
	margin: 5px;
	margin-left: 50px;
	float: left;
}
.kvadratas {
	background-color: green;
	padding: 30px;
}
.eile {
	text-align: center;
	margin-left: 50px;
}